/*reset css*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 80%;
	font: inherit;
	vertical-align: baseline;
	font-family: Verdana,Arial,Tahoma, sans-serif;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
label[disabled="true"]{opacity:0.4;}
/*end reset css*/

body a  {color: #272727; cursor: pointer; text-decoration:underline;font-size: 13px;}
body a:link {color: #272727; cursor: pointer; text-decoration:underline;}
body a:visited{color: #272727;font-size:12px;text-decoration:underline;}
body a:hover{color: black;text-decoration:none;}
body a:active {color: black;text-decoration:none;}

h1, h2, h3, h4, h5, h6 {
	font-family: 'GeoSlb712CMdBTBold'!important;
	text-rendering: optimizeSpeed;
}

/* Главная страница */
.index-header-content {
	margin: 50px auto 0px; /* Выравнивание по центру */
	height: 70px;
	/* background: #FFDEAD; */			
}

.index-header-content .right-menu {
	margin-right: 100px;
}

.index-header-content .buttton {
	background-color: black;	
}

.index-header-content .header-signin {
	float: right;
    font-size: 13px;
	margin: 25px 5px;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transition: all 0.2s ease;
    cursor: pointer;
    color: #3a3a3a;
}

.index-content {
	width: 400px;
	margin: 5px auto 5px;
	padding: 5px;
	/*background: #f0ffff;*/
}

.input-text { 
	height: 28px;
	border: 1px solid #CCCCCC;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);
	margin: 10px 10px;
	position:relative;
	background-color: white;
	-moz-border-radius: 3px; /* Firefox */
	-webkit-border-radius: 3px; /* Safari, Chrome */
	-khtml-border-radius: 3px; /* KHTML */
	border-radius: 3px; /* CSS3 */
	/* Для плохих IE */
	behavior: url(fonts/border-radius.htc); /* учим IE border-radius */
}

.input-text img { 
	position: absolute; 
	right: 3px;
	top: 2px;
}

.input-text .input, .input-date {
	border: 0px solid white;
    margin: 5px 0px 5px 0px;
    width: 320px;
    padding-left: 10px;
}

.input-text:hover {
	border: 1px solid #5F92FF;
}

.input-text .input:focus, .input-date:focus {
	outline: none;
}

.index-footer {
	position: fixed; /* Фиксированное положение */
	left: 0; bottom: 0; /* Левый нижний угол */
	padding: 10px; /* Поля вокруг текста */
	color: #CCCCCC; /* Цвет текста */
	width: 100%; /* Ширина слоя */
	font-size: 12px;
}

.left-button {
	float: left;
	font-size: 18px;
	cursor: pointer;
}

.left-button font {
	cursor: pointer;	
}

 .right-button {
	font-size: 18px;
	float: left;
	cursor: pointer;
}

 .right-button font {
	cursor: pointer;
}

 .button-container {
	height: 45px;
}

.index-content .button-container .add-diapason-button {
	font-size: 13px;
	text-decoration: underline;
	cursor: pointer;
	margin: 10px 15px 7px 25px;
	float: left;
}

.generic-button.blue {
    background: url("img/generic-button-blue-bg.png") repeat-x scroll left top transparent;
    border: 1px solid #39C;
    color: #FFFFFF;
    font-family: 'GeoSlb712CMdBTBold'!important;
	text-rendering: optimizeSpeed;
    font-size: 18px;
    height: 35px;
    width: 190px;
    cursor: pointer;
	float: right;
	margin: 0px 10px 7px 15px;
	border-radius: 3px;
}

.generic-button.green {
    background: url("img/generic-button-green-bg.png") repeat-x scroll left top transparent;
    border: 1px solid #3AA526;
    color: #FFFFFF;
    font-family: 'GeoSlb712CMdBTBold'!important;
	text-rendering: optimizeSpeed;
    font-size: 16px;
    height: 29px;
    width: 186px;
    cursor: pointer;
	float: right;
	margin: 0px 10px 7px 15px;
	border-radius: 3px;
	margin-top: 18px;
}

.button {
    display: block;
    border-radius: 4px;
    padding: 7px;
    color: #ffffff;
    text-rendering: optimizeSpeed;
    text-align: center;
    background: rgb(95,158,16);
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, rgb(172, 219, 114) 0%, rgba(95,158,16,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(172, 219, 114,1)), color-stop(100%,rgba(95,158,16,1)));
    background: -webkit-linear-gradient(top, rgba(172, 219, 114,1) 0%,rgba(95,158,16,1) 100%);
    background: -o-linear-gradient(top, rgba(172, 219, 114,1) 0%,rgba(95,158,16,1) 100%);
    background: -ms-linear-gradient(top, rgba(172, 219, 114,1) 0%,rgba(95,158,16,1) 100%);
    background: linear-gradient(to bottom, rgba(172, 219, 114,1) 0%,rgba(95,158,16,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#acdb72', endColorstr='#639e10',GradientType=0 ); 
    border-bottom: 1px solid #598c0d;
    border-right: 1px solid #598c0d;
}
.button:hover {
    background: rgb(82, 136, 13);
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, rgb(172, 219, 114) 20%, rgba(95,158,16,1) 80%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(20%,rgba(172, 219, 114,1)), color-stop(80%,rgba(95,158,16,1)));
    background: -webkit-linear-gradient(top, rgba(172, 219, 114,1) 20%,rgba(95,158,16,1) 80%);
    background: -o-linear-gradient(top, rgba(172, 219, 114,1) 20%,rgba(95,158,16,1) 80%);
    background: -ms-linear-gradient(top, rgba(172, 219, 114,1) 20%,rgba(95,158,16,1) 80%);
    background: linear-gradient(to bottom, rgba(172, 219, 114,1) 20%,rgba(95,158,16,1) 80%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#639e10', endColorstr='#acdb72',GradientType=0 );
}

.index-content .date-hider {
	float: right;
	margin-right: 10px;
	margin-top: 9px;
	font-size: 13px;
	text-decoration: underline;
	cursor: pointer;
}
/* конец */

/* Лого */
.logo-container, .header-content .logo-container {
	width: 400px;
	margin: 10px 10px;
	
}

.header-content .logo-container {
	margin-top: 0px;
	display:inline-block;
	
}

.logo-text {
	font-size: 55px !important;
	font-family: 'GeoSlb712CMdBTBold'!important;
	text-rendering: optimizeSpeed;
}
.logo-text .lit {
	color: #3399CC;
}
.logo-description {
	font-size: 18px;
	font-family: 'GeoSlb712CMdBTBold'!important;
	text-rendering: optimizeSpeed;
	margin-top: -7px;
}
/* конец */


.header-content {
	width: 1000px; /* Ширина слоя */
	margin: 0px auto 0px; /* Выравнивание по центру */
	height: 70px;
	/* background: #FFDEAD; */	
	position:relative;
}

.header-content .header-signin {
	float: right;
	margin: 5px 5px;
}

.header-content .right-menu {
	position: absolute;
	top: 15px;
	right: 0px;
}

.header-content .left-menu {	
	position:absolute;
	top:48px;
	right:5px;
	border:0px solid red;
}

.content {
	width: 1000px; /* Ширина слоя */
	margin: 5px auto 50px; /* Выравнивание по центру */
	position:relative;
	min-height: 400px;
}

.content .title {
	margin-left: 10px;
	margin-top: 10px;
	display: inline-block;
	font-size: 28px;
	font-family: 'GeoSlb712CMdBTBold'!important;
	text-rendering: optimizeSpeed;
}

.content .yandex-map{
	position: absolute;
	background-color: beige;
    border: 10px solid beige;
	right: 5px;
	top:25px;
	width: 450px; 
	height: 350px;
	
}

.content .create-trip-container {
	width: 490px;
	padding: 15px;
}

.content .create-trip-container .user-type {
    height: 20px;
    margin-left: 110px;
}

.content .create-trip-container .user-type label {
    font-size: 14px;
    margin-right: 40px;
    cursor: pointer;
}

.content .create-trip-container .labels {
	width: 100px;
	font-size: 13px;
	margin-left: 10px;
}

.content .create-trip-container .inputs .input-text {
	margin-bottom: 0px;
}

.content .create-trip-container .inputs .input-text .delete-button {
    right:-29px;
    top:5px;
    cursor: pointer;
    cursor: hand;
}

.content .create-trip-container .inputs .add-point {
	font-size: 13px;
	margin-left: 115px;
	margin-top: 5px;
    margin-bottom: 10px;
}

.content .create-trip-container .inputs .date-link {
    margin-left: 10px;
}

.content .create-trip-container #dateToContainer {
    display: none;
}

.content .create-trip-info-container .routes {
	margin-top: 30px;
	margin-left: 10px;
    font-size: 13px;
}

.content .create-trip-info-container .routes .route td {
    padding-bottom: 5px;
    padding-top: 5px;
}

.content .create-trip-info-container .routes .from {
	width: 130px;
}

.content .create-trip-info-container .routes .to {
	width: 130px;
    padding-left: 10px;
}

.content .create-trip-info-container .routes .arrow {
    width: 30px;
}

.content .create-trip-info-container .routes .equal {
    width: 30px;
}

.content .create-trip-info-container .routes .cost {
    width: 60px;
}

.content .create-trip-info-container .routes .distance {
    width: 60px;
}

.content .create-trip-container #nextStep {
    float: right;
    margin-right: 50px;
    margin-top: 0;
}

.content .register-container {
    width: 100%;
    border: 0px solid red;
    margin-top: 20px;
}

.content .register-container .labels {
    border: 0px solid red;
    width: 20%;
    text-align: right;
    padding-right: 10px;
    font-size: 13px;
}

.content .register-container .inputs {
    border: 0px solid red;
    width: 30%;
}

.content .register-container .descriptions {
    border: 0px solid red;
    font-size: 13px;
}

.content .left-block {
	float: left;
	background-color: bisque;
}

.content .right-block {
	float: right;
	background-color: darkGray;
}

.main-navigation-panel {
	background-color: #83DF57;
	border-radius: 5px;
	height: 150px;
}

.trips-list-table {
    width: 100%;
    border: 1px solid black;
}

.trips-list-table tr:hover {
    background-color: white;
}

.trips-list-table td {
    height: 50px;
    padding: 10px;
}

.footer {
	position: fixed; /* Фиксированное положение */
	left: 0; bottom: 0; /* Левый нижний угол */
	padding: 10px; /* Поля вокруг текста */
	background: #39b54a; /* Цвет фона */
	color: #fff; /* Цвет текста */
	width: 100%; /* Ширина слоя */
}

.m10 {
	margin: 10px;
}

.m-lr-10 {
	margin: 5px 10px;
}

#ui-datepicker-div {
    font-size: 73% !important;
}

.login-form .title {
    margin: 5px 0 15px 10px;
    font-family: Arial, Helvetica;
    font-size: 28px;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
}

.login-form .message {
    width: 330px;
    margin: 0 10px 10px 10px;
    font-size: 14px;
    display: none;
}

.login-form .message strong {
    font-weight: bold;
}

.login-form .labels {
    margin-left: 10px;
    font-family: Arial;
    font-size: 15px;
}

.login-form .input-text {
    margin-top: 2px !important;
    margin-bottom: 2px !important;
}

.login-form .registration-link {
    font-size: 13px;
    font-family: Arial;
    margin: 15px 0 0 10px;
    display: inline-block;
}

.login-form .forgot-password {
    font-size: 13px;
    position: absolute;
    display: block;
    right: 10px;
    top: 2px;
}

.login-form #login {
    float: right;
    margin: 5px 10px 10px;
}

.register-form .title {
    margin: 5px 0 15px 10px;
    font-family: Arial, Helvetica;
    font-size: 28px;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
}

.register-form .labels {
    margin-left: 10px;
    font-family: Arial;
    font-size: 15px;
}

.register-form .input-text {
    margin-top: 2px !important;
    margin-bottom: 2px !important;
}

.register-form .login-link {
    font-size: 13px;
    font-family: Arial;
    margin: 15px 0 0 10px;
    display: inline-block;
}

.register-form #registerButton {
    float: right;
    margin: 5px 10px 10px;
}

.register-form .error, .login-form .error {
    font-size: 14px;
    margin-left: 10px;
    margin-bottom: 10px;
    color: rgb(184, 33, 33);
    display: none;
}

.register-form .field, .login-form .field {
    margin-bottom: 10px;
    position: relative;
}

#registerSuccess {
    display: none;
    height: 200px;
    vertical-align: middle;
    text-align: center;
}

.simple-button {
	position: relative;
	padding: 10px 20px;
	color: #fff !important;
	font: bold 14px Arial, Helvetica;
	text-transform: uppercase;
	text-decoration: none;
	display: inline-block;       
	background-color: #72ce3f;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;     
	text-shadow: 0 -1px 0 rgba(0,0,0,.15);
	opacity: .9;       
}

.simple-button:hover {
	opacity: 1 !important;       
}

.simple-button:active {
	-moz-box-shadow: 0 2px 2px rgba(0,0,0,.3) inset;
	-webkit-box-shadow: 1px 2px 2px rgba(0,0,0,.3) inset;
	box-shadow: 1px 2px 2px rgba(0,0,0,.3) inset;       
}

/* Слайдер */
.stripViewer .panelContainer .panel ul {
	text-align: left;
	margin: 0 15px 0 30px;
}
		
.slider-wrap { 
	margin: 20px 0;
	position: relative;
	width: 100%;
}

/* These 2 lines specify style applied while slider is loading */
.csw {width: 100%; height: 460px; background: #fff; overflow: scroll}
.csw .loading {margin: 200px 0 300px 0; text-align: center}

.stripViewer { 
	position: relative;
	overflow: hidden;
	margin: auto;
	width: 1000px; 
	height: 700px;
	clear: both;
	background: #fff;
}
		
.stripViewer .panelContainer {
	position: relative;
	left: 0; top: 0;
	width: 100%;
	list-style-type: none;
}
		
.stripViewer .panelContainer .panel { 
	float:left;
	height: 100%;
	position: relative;
	width: 1000px; 
}
		
.stripViewer .panelContainer .panel .wrapper { 
	padding: 10px;
}
		
.stripNav { 
	margin: auto;
    display: none;
}
		
.stripNav ul { 
	list-style: none;
}
		
.stripNav ul li {
	float: left;
	margin-right: 2px; 
}
		
.stripNav a { 
	font-size: 10px;
	font-weight: bold;
	text-align: center;
	line-height: 32px;
	background: #c6e3ff;
	color: #fff;
	text-decoration: none;
	display: block;
	padding: 0 15px;
}
		
.stripNav li.tab1 a { background: #60f }
.stripNav li.tab2 a { background: #60c }
.stripNav li.tab3 a { background: #63f }
.stripNav li.tab4 a { background: #63c }
.stripNav li.tab5 a { background: #00e }
		
.stripNav li a:hover {
	background: #333;
}
		
.stripNav li a.current {
	background: #000;
	color: #fff;
}
		
.stripNavL, .stripNavR { 
	position: absolute;
	top: 230px;
	text-indent: -9000em;
}
		
.stripNavL a, .stripNavR a {
	display: block;
	height: 40px;
	width: 40px;
}
		
.stripNavL {
	left: 0;
}
		
.stripNavR {
	right: 0;
}
		
.stripNavL {
	background: url("images/arrow-left.gif") no-repeat center;
}
		
.stripNavR {
	background: url("images/arrow-right.gif") no-repeat center;
}

@font-face {
    font-family: 'GeoSlb712CMdBTBold';
    src: url('fonts/geoslabinch-bold-webfont.eot');
    src: url('fonts/geoslabinch-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/geoslabinch-bold-webfont.woff') format('woff'),
         url('fonts/geoslabinch-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}